<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Guess the number</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Welcome to the Great Numbers Game!!!</h1>
            <p>I am thinking of a number between 1 and 100!</p>
        </div>
        <div class="main_body">
            <div class="box">
                <h3>Guess the number!</h3>
                {% for num in numbers %}
                    <div class="answer_box">
                        {{your_answer_is}} 
                    </div>
                {% endfor %}
                <form action="/guess" method="post">
                    <label for="num_guessed"></label>
                    <input id="user_guess" type="text" name="num_guessed" class="guess">
                    <input type="submit" value="Guess" class="guess-button">
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/my_script.js') }}"></script>
</body>
</html>